.principal{
    margin-left: 1200px;
}

#hours{
    text-align: right;
}

#princ{
   border: groove;
   width: 770px;
   height: 260px;
   left: 25px;
}
#check1{

 margin-left: -45px;
}
#scroll{
    height: 595px;
    width: 100%;
    overflow-y: auto;
  }
  .hola{
      resize:none
  }

  .my-className.required::after {
    content: "*";
    color: rgb(255, 95, 95);
    position: absolute;
    top: -5px;
    right: -10px;
  }
  #button{
    margin-left: 890px;
    margin-top: 20px;
  }